@import "../utility/variables.scss";

.addItem {
  padding: 1rem;
  background-color: $color-darkest;
  position: fixed;
  left: 50%;
  bottom: 5rem;
  transform: translate(-50%, 0);
  transition: 400ms;
  overflow: hidden;
}

.formSection {
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
}

.input {
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  width: 14rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  color: $color-text;
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 2px #353535, 
              0 0 0 3px #3e3e3e, 
              inset 0 0 10px rgba(0, 0, 0, .5),
              inset 0 5px 20px rgba(0, 0, 0, .5),
              inset 0 0 15px rgba(0, 0, 0, .2);
}